

.full-page-container {
  min-height: 100vh;
  background-position: 25% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 0;
}

.content {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}


.center {
  display: flex;
  justify-content: center;
}
